# Next.js Frontend
NEXT_PUBLIC_GOOGLE_API_KEY=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="development"
NEXT_PUBLIC_GOOGLE_MAPS_ID=""

# Next.js API
LOCAL_API_KEY=""
OPENAI_API_KEY=""
FIRECRAWL_API_KEY=""

# For local neon database
PARENT_BRANCH_ID=""
NEON_PROJECT_ID=""
NEON_API_KEY=""

# Connection string for database
DATABASE_URL=postgres://neon:npg@localhost:5432/neondb

# Sanity Studio
SANITY_STUDIO_API_VERSION=2024-03-09
SANITY_STUDIO_PROJECT_ID=""
SANITY_STUDIO_DATASET="development"
SANITY_STUDIO_GOOGLE_API_KEY=""
SANITY_STUDIO_GOOGLE_MAPS_ID=""
SANITY_STUDIO_LOCAL_API_KEY=""
